*
{
    font-family: cursive;
    margin: 0px;
    padding: 0px; 
    box-sizing: border-box;
}

body
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-45deg, red, royalblue, hotpink);
    animation: gradient 5s ease infinite;
    background-size: 400% 400%;
}

@keyframes gradient {
    
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.box
{
    background: linear-gradient(to left, hotpink,royalblue);
    width: fit-content;
    padding: 50px;
    box-shadow: 5px 5px 15px rgb(0, 0, 0);
    border-radius: 30px;
    background: linear-gradient(-45deg, rgb(255, 2, 2), royalblue, hotpink);
    animation: gradient 5s ease infinite;
    background-size: 400% 400%
}
@keyframes grad {
    
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

input
{
    padding: 10px;
    border-radius: 15px;
}

h1
{
    background-color: rgb(0, 0, 0);
    width:fit-content;
    color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 10px;
}

h1:hover
{
    background-color: aqua;
    color:black;
    cursor:pointer;
}

input[type="button"]
{
    background-color: coral;
}

label
{
    font-size: 30px;
    color: red;
} 

input[type="button"]:hover
{
    background-color: rgb(76, 223, 57);
    color: rgb(33, 0, 0);
    cursor: pointer;
}